/*reset all styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*apply a background color to the body*/
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}



.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid #000;
  
    background: linear-gradient(to right, #ff9a9e, #fad0c4); 
    color: #271f1f; 
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3rem;
}

